.card-container {
    flex: 1 1 auto;

    text-align: left;
    font-family: 'Roboto', open-sans, serif;
    /*max-height: 50vh;*/
    border: none;
    color: whitesmoke;
    box-shadow: none;
    background-color: transparent;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}

.card-header {
    flex: 1 1 auto;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.mini-chart {
    flex: 4 4 auto;
}