.card-container {
    flex: 3 1 auto;

    text-align: left;
    font-family: 'Roboto', open-sans, serif;
    border: none;
    color: whitesmoke;
    box-shadow: none;
    background-color: transparent;

    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: center;
}

.card-header {
    flex: 1 1 auto;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.co2-parts-chart-container {
    align-self: center;

    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    min-width: 300px;
    max-width: 75%;
    min-height: 200px;
    max-height: 25%;
}

.card-bottom {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: center;
}

#co2-parts-chart {
    height: 100%;
    width: 100%;
}