.container-info-bottom {
    /*background: rgb(135, 26, 245);*/
    /*background: linear-gradient(90deg, rgba(135, 26, 245, 1) 0%, rgba(255, 0, 181, 1) 50%, rgba(255, 89, 0, 1) 100%);*/

    padding: .5em;
    margin: .5em 1em;
    border-radius: 2em;
    color: whitesmoke;
    font-size: 1.2em;


    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.visual-data {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.visual-data .visual-data-1 {
    background-image: linear-gradient(135deg, #ABDCFF 10%, #0396FF 100%);
}

.visual-data .visual-data-2 {
    background-image: linear-gradient(135deg, #2AFADF 10%, #4C83FF 100%);
}

.visual-data .visual-data-3 {
    background-image: linear-gradient(135deg, #FFD3A5 10%, #FD6585 100%);
}

.visual-data .visual-data-4 {
    background-image: linear-gradient(135deg, #EE9AE5 10%, #5961F9 100%);
}