.header {
    display: grid;
    /*grid-template-rows: repeat(2,1fr);*/
    /*grid-template-columns: repeat(2,1fr);*/

    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    justify-items: center;
    justify-content: space-around;
    gap: 10fr;
    font-family: 'Roboto', open-sans, serif;
    z-index: 5;
}

.header-title {
    grid-column: 1/-1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

.title-text {
    padding: .5em 0;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
}

.data-item {

}

.data-icon {
    padding: 0 .5em;
    font-size: 1.5em;
    color: lightgray;
}

.data-text {
    font-size: 1.5em;
    background: -webkit-gradient(linear, left top, right top, from(#ff839c), to(#5dffdb));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}