.map-container {
    flex: 7 1 auto;
    position: relative;
    transition: all 1s;

    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    background-color: green;
}
.composable-map {
    transition: all 1s;
}
.map-controls {
    position: absolute;
    bottom: 1vh;
    margin: 0 2em;
    width: 35%;
    padding: .5em 3em;
    backdrop-filter: blur(15px);
    border-radius: 2.5em;
    background-color: rgba(30, 30, 30, 0.75);
}
.slider-container {
    color: whitesmoke !important;
}